{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Page
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>Add a Page to {{ category.name }}</h1>
    <div>
        <form id="page_form" method="post" action="{% url 'rango:add_page'  category.slug %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for fields in form.visible_fields %}
                {{ fields.errors }}
                {{ fields.help_text }}
                {{ fields }}
                <br />
            {% endfor %}
        <input type="submit" name="submit" value="add page" />
        </form>
    </div>
    {% else %}
        <strong>The specified category does not exist!</strong>
    {% endif %}
{% endblock %}




<!-- the code below is pre-chapter 8>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Page</title>
</head>
<body>
    {% if category %}
    <h1>Add a Page to {{ category.name }}</h1>
    <div>
        <!--<form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
        <form id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for fields in form.visible_fields %}
                {{ fields.errors }}
                {{ fields.help_text }}
                {{ fields }}
                <br />
            {% endfor %}

            <input type="submit" name="submit" value="add page" />
        </form>
    </div>
    {% else %}
        The specified category dose not exist!
    {% endif %}
</body>
</html>
-->